@import "../../scss/global/colors";

.pagination {
  padding-top: 24px;
  padding-bottom: 60px;

  &__button {
    padding: 8px 12px;
    border-radius: 8px;
  }

  &__current-page {
    background-color: $color-flying;
    border: 1px solid $color-black;
  }
}

body[site-theme="dark"] .pagination__current-page {
  background-color: $color-water;
}
