@import "../../scss/global/colors";

.pagination {
  padding-bottom: 60px;

  &__button {
    padding: 8px 12px;
    border-radius: 8px;

    &--active {
      background-color: $color-flying;
    }
  }
}

body[site-theme="dark"] .pagination__button {
  &--active {
    background-color: $color-water;
  }
}
