@import "../../scss/global/colors";

.pokemon-details {
  &__pokemon-not-found-msg {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 1440px;
  }

  &__imgs {
    height: 200px;
    width: 200px;
  }

  &__stats-title {
    margin: 12px auto 24px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    &--line {
      height: 2px;
      width: 24px;
      background-color: $color-black;
    }
  }

  &__card {
    width: 600px;
    padding-bottom: 24px;
    margin-bottom: 60px;
    background-color: $color-white;
    border-radius: 12px;
    border: solid 1px $color-black;
    box-shadow: 2px 2px 4px $color-dark-mode-bg;

    &__back-button {
      box-shadow: 2px 2px 4px $color-dark-mode-bg;
    }
  }
}

.recharts-text {
  fill: $color-black;
}

@media (width < 840px) {
  .pokemon-details__card {
    width: 504px;
  }
}

@media (width < 744px) {
  .pokemon-details__card {
    width: 420px;
  }
}

@media (width < 660px) {
  .pokemon-details {
    gap: 12px;
  }
}

@media (width < 600px) {
  .pokemon-details__card {
    width: 384px;
  }
}

body[site-theme="dark"] .pokemon-details__card {
  background-color: $color-dark-mode-bg;
  box-shadow: 2px 2px 4px $color-black;

  &__back-button {
    box-shadow: 2px 2px 4px $color-black;
  }
}

body[site-theme="dark"] .pokemon-details__stats-title--line {
  background-color: $color-white;
}

body[site-theme="dark"] .recharts-text {
  fill: $color-white;
}
