@import "../../scss/global/colors";

.btn {
  padding: 0;
  cursor: pointer;
  border: 1px solid $color-black;
  border-radius: 4px;

  &__color {
    &-white {
      background-color: $color-white;
    }
  }

  &__has-padding {
    padding: 4px;
  }

  &__without-border {
    border: none;
  }

  &__link {
    text-decoration: none;
    color: $color-black;
  }

  &:hover {
    background-color: $color-white-darker;
  }

  &__without-hover:hover {
    background-color: transparent;
  }
}
