@import "../../scss/global/colors";

.btn {
  padding: 0;
  cursor: pointer;
  border: 1px solid $color-black;
  border-radius: 4px;
  background-color: $color-white;

  &__transparent {
    background-color: transparent;
  }

  &__without-border {
    border: none;
  }

  &__link {
    text-decoration: none;
    color: $color-black;
  }

  &:hover {
    background-color: $color-white-dark;
  }

  &__without-hover:hover {
    background-color: transparent;
  }
}

body[site-theme="dark"] .btn {
  background-color: $color-dark-mode-bg;
  color: $color-white;

  &__transparent {
    background-color: transparent;
  }

  &__without-border {
    border: none;
  }

  &:hover {
    background-color: $color-dark-mode-bg-dark;
  }

  &__without-hover:hover {
    background-color: transparent;
  }
}
