@import "../../scss/global/colors";

.pokemon-card--list {
  height: 96px;
  background-color: $color-white;
  border-radius: 12px;
  border: 1px solid $color-black;
  box-shadow: 2px 2px 4px $color-dark-mode-bg;
  padding: 0 32px;

  &__heart {
    font-size: 24px;
  }

  &__pokemon-img {
    height: 112px;
    width: 112px;
    padding-top: 24px;
  }

  &__id {
    width: 54px;
  }

  &__name {
    width: 120px;
  }

  &__types {
    width: 194px;
  }

  &__pokeball {
    height: 40px;
    width: 40px;
  }
}

@media (width < 612px) {
  .pokemon-card--list {
    gap: 12px;

    &__text-and-types {
      gap: 32px;
    }
  }
}

@media (width < 552px) {
  .pokemon-card--list__text-and-types {
    gap: 12px;
  }
}

@media (width < 522px) {
  .pokemon-card--list__text-and-types {
    gap: 0;
  }
}

@media (width < 522px) {
  .pokemon-card--list {
    gap: 12px;
  }
}

@media (width < 468px) {
  .pokemon-card--list {
    padding: 0 24px;
  }
}

@media (width < 444px) {
  .pokemon-card--list {
    padding: 0 6px 0 12px;
  }
}

body[site-theme="dark"] .pokemon-card--list {
  box-shadow: 2px 2px 4px $color-black;
}
