@import "../../scss/global/colors";

.pokemon-card--grid {
  height: 204px;
  width: 420px;
  background-color: $color-white;
  border-radius: 12px;
  box-shadow: 2px 2px 4px $color-dark-mode-bg;
  margin-left: auto;
  margin-right: auto;

  &__pokeball-and-fav {
    padding: 0 6px;
    box-sizing: border-box;
    width: 100%;
  }

  &__pokeball {
    padding-top: 6px;
    height: 28px;
    width: 28px;
  }

  &__heart {
    padding: 8px 2px 0 0;
    font-size: 22px;
    width: 24px;
    height: 30px;

    &:hover {
      color: red;
    }

    &--fav {
      color: red;
    }
  }

  &__pokemon-img {
    height: 200px;
    width: 200px;
  }
}

@media (width < 513px) {
  .pokemon-card--grid {
    height: 186px;
    width: 348px;

    &__pokemon-img {
      padding-top: 24px;
      height: 150px;
      width: 150px;
    }
  }
}

body[site-theme="dark"] .pokemon-card--grid {
  box-shadow: 2px 2px 4px $color-black;
}
