@import "../../scss/global/colors";

.pokemon-card--grid {
  height: 195px;
  width: 218px;
  background-color: $color-white;
  border-radius: 12px;
  box-shadow: 2px 2px 4px $color-dark-mode-bg;

  &__imgs {
    padding: 0 6px;
    box-sizing: border-box;
    width: 100%;
  }

  &__pokeball {
    padding-top: 6px;
    height: 28px;
    width: 28px;
  }

  &__heart {
    padding: 8px 2px 0 0;
    font-size: 22px;
    width: 24px;
    height: 30px;

    &:hover {
      color: red;
    }

    &--fav {
      color: red;
    }
  }
}

body[site-theme="dark"] .pokemon-card--grid {
  box-shadow: 2px 2px 4px $color-black;
}
