.pokemon-display {
  &--grid {
    margin: 60px 58px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 32px;
    row-gap: 32px;
  }

  &--list {
    margin: 60px 58px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
}

@media (width < 1440px) {
  .pokemon-display {
    &--grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (width < 1086px) {
  .pokemon-display {
    &--grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (width < 841px) {
  .pokemon-display {
    &--grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (width < 768px) {
  .pokemon-display {
    &--grid {
      margin: 40px 30px;
    }
  }
}

@media (width < 600px) {
  .pokemon-display {
    &--grid {
      margin: 60px 30px;
    }
  }
}
