@import "../../scss/global/colors";

.header {
  padding: 0 30px;

  &__logo {
    //height: 80px;
  }

  &__search-bar {
    height: 40px;
    width: 400px;
    border-radius: 6px;
    border: 1px solid $color-black;
    text-indent: 12px;
    background-color: $color-white;

    &::placeholder {
      color: $color-placeholder;
    }
  }

  &__btn {
    height: 40px;
    width: 40px;
  }

  &__icon {
    color: $color-dark-mode-bg;
    font-size: 22px;
  }
}

#header__icon--heart--active {
  background-color: $color-flying;
}

body[site-theme="dark"] .header {
  &__search-bar {
    background-color: $color-dark-mode-bg;
    color: $color-white;

    &::placeholder {
      color: $color-dark-mode-placeholder;
    }
  }

  &__icon {
    color: $color-white;
  }
}

body[site-theme="dark"] #header__icon--heart--active {
  background-color: $color-water;
}
