@import "../../scss/global/colors";

.header {
  padding: 0 30px;

  &__logo {
    height: 80px;
  }

  &__search-bar {
    height: 40px;
    width: 400px;
    border-radius: 6px;
    border: 1px solid $color-black;
    text-indent: 12px;
    background-color: $color-white;
  }

  &__btn {
    height: 40px;
    width: 40px;
  }

  &__icon {
    color: $color-dark-mode-bg;
    font-size: 22px;
  }
}
