.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.gap-12 {
  gap: 12px;
}

.gap-18 {
  gap: 18px;
}

.gap-32 {
  gap: 32px;
}

.gap-48 {
  gap: 48px;
}

.margin-top-60 {
  margin-top: 60px;
}

.width-100 {
  width: 100%;
}
