@import "./typography";

html {
  font-family: PKMN-RBYGSC;
  font-size: 14px;
}

body {
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto 0 auto;
  background-image: url("../../../public/sinnoh_map.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}
